#pizza{
  display:none;
}
.jumbotron{
  background-image:linear-gradient(#ffff4d ,transparent 90%),
  url("../img/pizza.jpeg");
  background-size:covntain;
  text-align: center;
  color: #000099;
}
.container{
  width: 70%;
  margin: 0 auto;
  color: #000099;

}
body{
  background: #ffff4d;
}
